.train-wrapper {
    font-family: "Roboto", Arial, sans-serif;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    /* Sfondo semitrasparente */
    border-radius: 10px;
    /* Angoli arrotondati */
    color: #ffffff;
    /* Testo bianco */
    max-width: 350px;
    /* Limita la larghezza per adattarsi bene */
    margin: 0 auto;
    /* Centra il modulo */
}

.train-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.train-header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.train-details {
    display: flex;
    justify-content: space-between;
    /* Centra gli orari di partenza e arrivo */
    margin-top: 10px;
    font-size: 1.2em;
}

.time-section {
    width: 45%;
    text-align: center;
}

.delay-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 1em;
    color: #ff0000;
    /* Ritardo in rosso */
}

hr {
    border: 0;
    height: 2px;
    background: #ff0000;
    /* Linea rossa di separazione */
    margin: 10px 0;
}

.fa-train {
    color: #ffffff;
    font-size: 1.5em;
}